base_xml/.metadata/.lock
base_xml/.metadata/.log
base_xml/.metadata/.plugins/com.aptana.core.io/connections.1
base_xml/.metadata/.plugins/com.aptana.syncing.core/defaultConnection.1
base_xml/.metadata/.plugins/com.aptana.syncing.core/sites.1
base_xml/.metadata/.plugins/com.aptana.webserver.core/webservers.1
base_xml/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
base_xml/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
base_xml/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
base_xml/.metadata/.plugins/org.eclipse.core.resources/.safetable/com.aptana.core.io.1
base_xml/.metadata/.plugins/org.eclipse.core.resources/.safetable/com.aptana.syncing.core.1
base_xml/.metadata/.plugins/org.eclipse.core.resources/.safetable/com.aptana.webserver.core.1
base_xml/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
base_xml/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.editor.common.prefs
base_xml/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.php.debug.epl.prefs
base_xml/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.portal.ui.prefs
base_xml/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.rcp.prefs
base_xml/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.theme.prefs
base_xml/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.aptana.ui.prefs
base_xml/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
base_xml/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
base_xml/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.search.prefs
base_xml/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
base_xml/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
base_xml/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.texteditor.prefs
base_xml/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
base_xml/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
base_xml/.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
base_xml/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
base_xml/.metadata/version.ini
base_xml/.project
Icon\r
base_json/.project
.project
